<!doctype html>
<html lang="en" xmlns:th="http.thymeleaf.org">
<link rel="stylesheet"  href="/css/lags.css">
<head>
    <meta charset="UTF-8">
    <title>Customers</title>
</head>
<body>
<table class="listing" th:object="${customerList}">
    <div th:if="${errorMsg}">
        <ul>
            <li th:text="${errorMsg}" />
        </ul>
    </div>
    <tr>
        <th>Id</th>
        <th>Name</th>
    </tr>
    <tr th:each="customer : ${customerList}">
    <td class="align-middle" th:text="${customer.getId()}"></td>
    <td class="align-middle" th:text="${customer.getName()}"></td>
    <td class="align-middle"><a th:href="@{/customerRetrieve/{id}(id=${customer.getId()})}">Retrieve</a></td>
    <td class="align-middle"><a th:href="@{/customerUpdate/{id}(id=${customer.getId()})}">Update</a></td>
    <td class="align-middle"><a th:href="@{/customerDelete/{id}(id=${customer.getId()})}">Delete</a></td>
    </tr>
    <tr>
        <a href="/customerCreate">New Customer</a>
    </tr>
</table>
</body>
</html>
