<!DOCTYPE html>
<html lang="en">
<html lang="en" xmlns:th="https://www.thymeleaf.org">
<link rel="stylesheet"  href="/css/lags.css">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
    <header>
        <div th:if="${errorMsg}">
            <ul>
                <li th:text="${errorMsg}" />
            </ul>
        </div>
        <h3>Customer</h3>
        <p></p>
        <table th:object="${customerForm}">
            <tr>
                <td>Id:</td>
                <td th:text="*{id}" /></td>
            </tr>
            <tr>
                <td>Name:</td>
                <td th:text="*{name}" /></td>
            </tr>
        </table>
    </header>
    <article>
        <h3>Orders</h3>
        <div th:if="${customerForm.getOrders().isEmpty()}">No Orders</div>
        <div th:if="${!customerForm.getOrders().isEmpty()}">
            <table>
                <tr>
                    <th>Id</th>
                    <th>Start</th>
                    <th>Duration</th>
                    <th>Price</th>
                </tr>
                <tr th:each="order : ${customerForm.getOrders()}">
                    <td class="align-middle" th:text="${order.getId()}"></td>
                    <td class="align-middle" th:text="${order.getStart()}"></td>
                    <td class="align-middle" th:text="${order.getDuration()}"></td>
                    <td class="align-middle" th:text="${order.getPrice()}"></td>
                </tr>
            </table>
        </div>

    </article>
  <a href="/customers">Cancel</a>
</body>
</html>
