<!DOCTYPE html>
<html lang="en">
<html lang="en" xmlns:th="https://www.thymeleaf.org">
<link rel="stylesheet"  href="/css/lags.css">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<form th:action="@{/customerUpdate/{id}(id=${customerForm.getId()})}" th:object="${customerForm}" method="post">
    <div th:if="${errorMsg}">
        <ul>
            <li th:text="${errorMsg}" />
        </ul>
    </div>
    <table>
        <tr>
            <td>Id:</td>
            <td th:text="*{id}" /></td>
        </tr>
        <tr>
            <td>Name:</td>
            <td><input type="text" th:field="*{name}" /></td>
            <td th:if="${#fields.hasErrors('name')}" th:errors="*{name}">Name Error</td>
        </tr>
        <tr>
            <td><button type="submit">Submit</button></td>
        </tr>
    </table>

</body>
</html>
