<!DOCTYPE html>
<html lang="en">
<html lang="en" xmlns:th="https://www.thymeleaf.org">
<link rel="stylesheet"  href="/css/lags.css">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<form th:action="@{/customerUpdate/{id}(id=${customerForm.getId()})}" th:object="${customerForm}" method="post">
    <div th:if="${errorMsg}">
        <ul>
            <li th:text="${errorMsg}"></li>
        </ul>
    </div>
    <table>
        <!--suppress Annotator -->
        <tr>
            <td>Id:</td>
            <td th:text="*{id}"></td>
        </tr>
        <tr>
            <td>Name:</td>
            <td><label>
                <input type="text" th:field="*{name}" />
            </label></td>
            <td th:if="${#fields.hasErrors('name')}" th:errors="*{name}">Name Error</td>
        </tr>
        <tr>
            <td><button type="submit">Submit</button></td>
        </tr>
        <tr>
            <a th:href="@{/orderCreate/{id}(id=${customerForm.getId()})}">Add Order</a>
        </tr>
    </table>
    <article th:object="${customerForm}">
        <h3>Orders</h3>
        <div th:if="${customerForm.getOrders().isEmpty()}">No Orders</div>
        <div th:if="${!customerForm.getOrders().isEmpty()}">
            <table class="listing">
                <tr>
                    <th>Id</th>
                    <th>Start</th>
                    <th>Duration</th>
                    <th>Price</th>
                </tr>
                <tr th:each="order : ${customerForm.getOrders()}">
                    <td class="align-middle" th:text="${order.getId()}"></td>
                    <td class="align-middle" th:text="${order.getStart()}"></td>
                    <td class="align-middle" th:text="${order.getDuration()}"></td>
                    <td class="align-middle" th:text="${order.getPrice()}"></td>
                </tr>
            </table>
        </div>

    </article>
</form>

</body>
</html>
