<!DOCTYPE html>
<html lang="en">
<html lang="en" xmlns:th="https://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<form th:action="@{/customerDelete/{id}(id=${customerForm.getId()})}" th:object="${customerForm}" method="post">
    <div th:if="${errorMsg}">
        <ul>
            <li th:text="${errorMsg}" />
        </ul>
    </div>
    <table>
        <tr>
            <td>Id:</td>
            <td th:text="*{id}">idvalue</td>
        </tr>
        <tr>
            <td>Name:</td>
            <td th:text="*{name}">namevale</td>
        </tr>
        <tr>
            <td><button type="submit">Delete</button></td>
            <td><a href="/customers">Cancel</a></td>
        </tr>
    </table>

</body>
</html>
